/* color 
#537188 
#CBB279
#E1D4BB
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 30px;
}

html {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #CBB279;
}

header {
	background-color: #537188;
	color: #CBB279;
	padding: 10px;
	text-align: center;
}

.backArrow {
	position: fixed;
	top: 15px;
	right: 10px;
}

#arrowB {
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}


/* drinkList */
.drinkList {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.drinkList h2 {
	font-size: initial;
	padding: 3px;
	border: 2px solid black;
	border-bottom: #CBB279;
	margin-top: 10px;

	margin-left: calc(50vw - 100px);
	margin-right: calc(50vw - 100px);
}

.drinkCardImg {
	width: 170px;
	border-radius: 20px;
	cursor: pointer;
}

.listLogoIba {
	position: relative;
	z-index: 1;
	bottom: 215px;
	left: 125px;
	width: 40px;
}

.drinkCard {
	max-height: 170px;
}

.drinkCard p {
	z-index: 1;
	position: relative;
	bottom: 30%;
	color: #ffffff;
	background-color: rgba(141, 158, 170, 0.425);
	border-radius: 5px;
	padding: 3px;
	max-width: fit-content;
	margin: 10px;
}

#imgDrink {
	width: 170px;
	border-radius: 20px;
	cursor: pointer;
	padding-right: 5px;
}

/* dirnk */
.drink {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	text-align: center;
	justify-content: center;
	margin-top: 10px;
	padding: 20px;
}

.leftBox {
	grid-column: 1/2;
	text-align: center;
}

.rightBox {
	grid-column: 2/3;
	text-align: left;
}

.bottomBox {
	padding-top: 10px;
	grid-column: 1/3;
	text-align: left;
}

.ibaContainer {
	display: flex;
	text-align: center;
	justify-content: center;
	padding-top: 20px;
	gap: 5px;
}

.ibaContainer p {
	padding-top: 13px;
	font-weight: 600;

}

#drinkLogoIba {
	width: 50px;
}

/* loading */
.loading {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 520px;
	height: 70vh;
	margin-top: 10px;
	gap: 10px;
}

.loadingBar {
	border: 1px solid rgb(255, 255, 255);
	border-radius: 2px;
	height: 10px;
	width: 150px;
}

.loadingBar {
	display: flex;
	align-items: center;
	gap: 2px;
	border: 1px solid rgb(255, 255, 255);
	height: 10px;
}

.loadingContent {
	background-color: white;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 2px;
	height: 6px;
	width: 6px;
}

.bottomSpace {
	padding: 35px;
}

/* bottom bar */
.bottombar {
	position: fixed;
	bottom: 6px;
	right: 6px;
	left: 6px;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	background-color: #537188ad;
	display: flex;
	z-index: 3;
	padding: 5px;

}

select {
	text-align: center;
	background-color: transparent;
	padding: 2px;
	border-radius: 4px;
	border: 2px solid #CBB279;
	color: #CBB279;
	font-size: 16px;
}

#Letterlist {
	padding: 7px;
}

.borderSymbols {
	padding: 2px;
	border-radius: 4px;
	border: 2px solid #CBB279;
	color: rgb(204, 179, 123)
}

.hidden {
	display: none;
}

[data-state="drinkList"] {
	background-color: #CBB279;
}

[data-state="loading"] {
	background-color: #CBB279;
}

[data-state="drinkList"] section:not(.drinkList),
[data-state="drink"] section:not(.drink),
[data-state="loading"] section:not(.loading) {
	display: none;
}

@media(max-width:58em) {}

.search {
	display: inline-flex;
	border-radius: 10px;
	border: 2px solid #CBB279;
	align-items: center;
	/* background-image: linear-gradient(40deg, #111, #537188); */
	color: #CBB279;
	padding: 4px;
	border-radius: 4px;
	border: 2px solid #CBB279;
	width: fit-content;
}

.search :is(select, button) {
	background: transparent;
	color: inherit;
	border: none;
	outline: none;
}

.search__input {
	display: none;
	width: 0;
	transition: width 0.5s;
}

.search__button {
	display: grid;
	place-items: center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	transition: color 0.25s;
}

.search__button:hover {
	color: #5c4b23;
}

.search:focus-within select {
	display: initial;
	width: fit-content;
	max-width: 100px;
}